.p1{
    font-style: italic;
    font-size: 20px;
    color: burlywood;
    background: brown;word-spacing: 2pt;letter-spacing: 2pt;
     
}

.p2 {

    font-style: normal;
    font-size: 30px;
}