#p1{ border-style: dotted;border-width: 2pt;}
#p2{ border-style: dashed;border-width: 2pt;}
#p3{ border-style: solid;border-width: 2pt;border-color: blue}
#p4{ border-style: ridge ;border-width: 2pt;}